body {
  background-color: white;
}
h1 {
  background-color:powderblue;
  color: blue;
  font-family: verdana;
  font-size: 200%;
}
p  {
  color: blue;
  font-family: courier;
  font-size: 100%;
  border: 2px solid powderblue;
  padding: 30px;
}
   
 a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
